@model string
<article class="container py-5">
    <h1 class="display-1">
        Thanks for Registering!
    </h1>
    <p>
        Your registration Id is: <small>@Model</small>
    </p>
    <p>
        <a asp-route="EventList" class="btn btn-primary btn-lg">Go back to Event List</a>
    </p>
</article>